.favorites__container {
  padding: 2.5rem 15vw;
}

.favorites__title {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-2xl);
  margin: 0;
}

.favorites__subtitle {
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  color: var(--color-neutral-light);
  margin: 0;
  margin-bottom: 2rem;
  max-width: 70%;
}

.empty-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.empty-list__title {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin: 0.5rem;
}

