<header class="header">
  <a href="/" class="header__brand">NewsHub</a>
  <nav class="header__navigation">
    <ul class="header__navigation-list">
      <li><a class="header__link" routerLink="/" routerLinkActive='header__link--active'>Inicio</a></li>
      <li><a class="header__link" routerLink="/list" routerLinkActive='header__link--active'>Noticias</a></li>
      <li><a class="header__link" routerLink="/favorites" routerLinkActive='header__link--active'>Favoritos</a></li>
      <li><a class="header__link" routerLink="/contact" routerLinkActive='header__link--active'>Contacto</a></li>
    </ul>
  </nav>
</header>