<h2 class="footer__title">NewsHub</h2>
<nav class="footer__navigation">
  <ul class="footer__navigation-list">
    <li><a class="footer__link" href="/">Inicio</a></li>
    <li><a class="footer__link" href="/src/ui/pages/list.html">Noticias</a></li>
    <li><a class="footer__link" href="/src/ui/pages/favorites.html">Favoritos</a></li>
    <li><a class="footer__link" href="/src/ui/pages/contact.html">Contacto</a></li>
  </ul>
</nav>
<p class="footer__copyright">&copy; 2026 NewsHub. Todos los derechos reservados.</p>