<h2 class="footer__title">NewsHub</h2>
<nav class="footer__navigation">
  <ul class="footer__navigation-list">
    <li><a class="footer__link" href="/">Home</a></li>
    <li><a class="footer__link" href="/src/ui/pages/list.html">News</a></li>
    <li><a class="footer__link" href="/src/ui/pages/favorites.html">Favorites</a></li>
    <li><a class="footer__link" href="/src/ui/pages/contact.html">Contact</a></li>
  </ul>
</nav>
<p class="footer__copyright">&copy; 2026 NewsHub. All rights reserved.</p>