<main id="news-hub-main" class="detail__container">
  <img id="news-image" class="detail__image" [src]="post?.image?.src" [alt]="post?.image?.alt">
  <section class="detail-buttons__container">
    <button id="favorites-button" class="button button--primary" (click)="toggleFavorite()">{{ isFavorite() ? 'Eliminar de favoritos' : 'Agregar a favoritos' }}</button>
    <button id="delete-button" class="button button--danger" (click)="openConfirmationDialog()">Eliminar noticia</button>
  </section>
  <h1 id="news-title" class="detail__title">{{ post?.title }}</h1>
  <h2 id="news-subtitle" class="detail__subtitle">{{ post?.subtitle }}</h2>
  <hr class="detail__separator">
  <section id="news-content" class="detail__content">
    @for (paragraph of post?.content; track paragraph) {
      <p>{{ paragraph }}</p>
    }
  </section>
</main>
<app-dialog
  #confirmationDialog
  title="Eliminar noticia"
  message="¿Estás seguro de querer eliminar esta noticia?"
  (confirm)="deletePost()"
  (cancel)="closeConfirmationDialog()">
</app-dialog>